Source: node-asn1
Section: web
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: FIX_ME debian author
Build-Depends:
 debhelper (>= 9)
 , dh-buildinfo
 , nodejs
Standards-Version: 3.9.8
Homepage: https://github.com/mcavage/node-asn1
Vcs-Git: https://anonscm.debian.org/git/pkg-javascript/node-asn1.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-javascript/node-asn1.git

Package: node-asn1
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
Description: Contains parsers and serializers for ASN.1 (currently BER only)
 FIX_ME long description
 .
 Node.js is an event-based server-side JavaScript engine.
